body {
    background-color: rgb(0, 0, 0);
  }
.pointText{ 
    color:white;
    font-size: 20px;                      /* amount of points text*/
}
.generatorText{
  color:white;
  font-size: 15px;                             /*moves generator amount text next to the button*/
}
.generatorBuyText{
  color:white;
  font-size: 15px;                       /*moves generator cost text next to the button*/
}


.grid-container{
  display: grid;
   
  grid-template-columns: 150px 120px 150px ;
  grid-template-rows: auto;
}

.grid-item {
  
  margin: 7.5px;
  width: 100px;
  height: 50px;

  
}
.item2{
  width: 170px;
  grid-column: 3;
  grid-row: 2;
}

.item3{
  grid-column: 1;
}

.item4 {
  grid-column: 1;
}

.item5{
  grid-column: 1;
}

.item6 {
  grid-column: 1;
}

.item7 {
  grid-column: 2;
  grid-row: 2;
}
.pointButton {  
    margin: 10px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999; 
   }
  .pointButton:hover {background-color: #ffffff}
  .pointButton:active {
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.generatorButton {
    margin: 10px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
   }
 .generatorButton:hover {background-color: #ffffff}
 .generatorButton:active {
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


