body {
    background-color: rgb(0, 0, 0);
  }
#myProgress {
  width: 100%;
  background-color: #ddd;
}
#myBar {
  width: 1%;
  height: 40px;
  background-color: #04AA6D;
}
.moneyAmount{ 
    color:white;
    font-size: 20px;                      /* amount of money text*/
}
.firstBuy{
  color: white;
  font-size: 15px;
}
.first{
  color:white;
  font-size: 15px;
}
.secondBuy{
  color: white;
  font-size: 15px;
}
.second{
  color:white;
  font-size: 15px;
}
.grid-container{
  display: grid; 
  grid-template-columns: 150px 120px 150px ;
  
}
.grid-item {
  margin: 7.5px;
  width: 100px;
  height: 40px;
}
.item1{
  grid-column: 1 / 2;
}
.firstButton{
  grid-column: 1;
}
.firstProgressbar{
  grid-row: 2;
  grid-column: 2 / span 2;
}
.one{
  grid-column: 2;
  grid-row: 3;
}
.secondButton{
  grid-column: 1;
  grid-row: 4;
}
.secondProgressbar{
  grid-row: 4;
  grid-column: 2 / span 2;
}
.two{
  grid-column: 2;
  grid-row: 5;
}
